<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration">

<hibernate-configuration>
    <!-- jksjdjjjf -->
   <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQL8Dialect
        </property>
        <property name="hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>
        <property name="hibernate.connection.url">
            jdbc:mysql://72.29.120.28/siste214_252759x?useSSL=false
        </property>
        <property name="hibernate.connection.username">
            siste214_252759x
        </property>
        <property name="hibernate.connection.password">
            ITS@252759a
        </property>
        
        <mapping class="mx.itson.zoo.entidades.Animal"/>
        <mapping class="mx.itson.zoo.entidades.Jaula"/>
    </session-factory>
</hibernate-configuration>

